html, body {  margin: 0;  padding: 0; }
* { box-sizing: border-box; }

/* Some default styles to make each box visible */
.box-a, .box-b {
	color:white;
	font-size: 20px;
	text-align: center;
	text-shadow:4px 4px 0 rgba(0,0,0,0.1);
	padding:10px;
}

/* Colours for each box */
.box-a1, .box-b1 { background:#1abc9c;}
.box-a2, .box-b2 { background:#3498db;}
.box-a3, .box-b3 { background:#9b59b6;}

.main {
	display: flex;
}

.container-a,
.container-b {
	border: 4px solid hotpink;
	display: flex;
	width: 50vw;
	height: 100vh;
}

/* your code after here */


